.sclapiButton {
    /*border: 1px solid #FF6934;
    background: #fff;*/
    padding: 9px 15px;
    display: inline-block;
    background: #fffaf9;
    font-size: 14px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
    border: #FF6934;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    margin-left: 4px;
}
.sclapiButton:hover {
    background: #FF6934;
    color: #fff;
}
#printingUser, #usedMaterial{
    width: 75px;
}
#newMaterialDialog, #newUserDialog, #newPrintingDialog {
    line-height: 22px;
    margin-top: 15px;
}
#newPrintingDialog {
    width: 340px;
    height: 86px;
}
#newUserDialog {
    width: 320px;
    height: 42px;
}
#newMaterialDialog {
    width: 355px;
    height: 108px;
}
#printingUser,
#usedMaterial,
#materialLength,
#newUserName,
#newMaterialName,
#newMaterialDensity,
#newMaterialDiameter,
#newMaterialPrice{
    width: 100px;
    float: right;
    border: 1px solid #FF6934;
}
#printingUser,
#usedMaterial{
    width: 102px;
}

 .dialogText{
    margin-top: 15px;
}
.cancelPButton,
.createPButton,
.cancelButton,
.createButton,
.cancelMButton,
.createMButton{
    margin-top: 8px;
    float: right;
}
h1 {
    margin: 0 auto;
    display: block;
    width: calc(50% - 200px);
    font-family: Arial;
    color: #4c4c4c;
}
#usersChart{
    width: 50%;
    float: right;
}
